@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  background-color: #ece5dd;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
